<h1 class="text"> Welcome to angular ecommerce project</h1>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>

<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				Toggle dropdown
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem>Action - 1</button>
				<button ngbDropdownItem>Another Action</button>
				<button ngbDropdownItem>Something else is here</button>
			</div>
		</div>
	</div>

	<app-product-list></app-product-list>






<router-outlet></router-outlet>
